<div class="page-header">
	<h1>Dashboard</h1>
	<p>3 months to <%= form_tag '/touchstone/dashboard' do %><%= select_month(@month) %><%= select_year(@year) %><%= submit_tag "Go" %><% end %></p>
</div>
<p>Figures represent the position at the end of a given month.</p>
<table class="table">
	<thead>
		<tr>
			<th>Metric</th>
			<% @range.each do |n| %>
				<th><%= Date::MONTHNAMES[n] %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @top_line.each do |key,values| %>
		<tr>
			<td><strong><%= key.humanize.upcase %></strong></td>
			<% values.each do |v| %>
				<td><%= v %></td>
			<% end %>
		</tr>
		<% end %>
		
		<% @costs.each do |key,value| %>
		<tr>
			<td><strong><%= key.to_s.humanize.upcase %></strong></td>
			<% @range.to_a.length.times do %>
				<td><%= Touchstone.currency %><%= value %></td>
			<% end %>
		</tr>
		<% end %>
		
		<% @bottom_line.each do |key,values| %>
		<tr>
			<td><strong><%= key.humanize.upcase %></strong></td>
			<% values.each do |v| %>
				<td><%= v %></td>
			<% end %>
		</tr>
		<% end %>
		
	</tbody>
</table>