<!DOCTYPE html>
<html>
	<head>
		<title>Touchstone Metrics</title>
		<%= stylesheet_link_tag "touchstone/application.css" %>
	  <%= javascript_include_tag "touchstone/application.js" %>
	  <%= csrf_meta_tag %>
	</head>
	<body class="touchstone">
	 <header class="navbar navbar-fixed-top">
	   <nav class="navbar-inner">
	     <div class="container">
	       <h1 class="brand"><%= link_to "Touchstone Metrics", root_url %></h1>
	     </div>
	   </nav>
	 </header>
	 <div id="main" role="main">
	   <div class="container">
	     <div class="content">
	        <div class="row">
	         	<div class="span12">
							<% flash.each do |key, value| -%>
								<div class="alert alert-<%= key %>">
									<a class="close" data-dismiss="alert">×</a>
									<p><%= value.html_safe %></p>
								</div><!-- eo .alert -->
							<% end -%>
							
							<%= yield %>
						</div><!-- eo .span12 -->
					</div><!-- eo .row -->
				</div><!-- eo .content -->
				<footer>
				</footer>
			</div> <!--! end of .container -->
		</div> <!--! end of #main -->
	</body>
</html>